<configuration>
    <appender name="CONSOLE_INFO" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="CONSOLE_DEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%level › %logger{0} › %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="CONSOLE_WARN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%level › %logger{0} › %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="CONSOLE_ERROR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%level › %logger{0} › %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <root level="debug">
        <appender-ref ref="CONSOLE_INFO"/>
        <appender-ref ref="CONSOLE_DEBUG"/>
        <appender-ref ref="CONSOLE_WARN"/>
        <appender-ref ref="CONSOLE_ERROR"/>
    </root>
</configuration>